/* This file is for your main application css. */
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

html, body, main {
  width: 100%;
  height: 100%;
}

#gamepage {
  width: 80%;
  height: 85%;
  margin-top: 5%;
  margin-left: 5%;
}

.gamearea {
  width: 100%;
  height: 100%;
}

.determinate {
  width: 40%;
}

.square {
  width: 100%;
  height: 100%;
  text-align: center;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 5px;
}